div {
  margin: 10px;
}

h3 {
  max-width: fit-content;
}

.container {
  position: relative;
  height: 20vh;
  border: 1px solid black;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  background-color:cornflowerblue; 
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.triangle {
  height: 0px;
  width: 0px;
  /* border-top: 100px solid rebeccapurple; */
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid rebeccapurple;
}

.centered {
  margin: 0 auto;
}

.trans {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.i-b {
  display: inline-block;
}

.aligner {
  max-width: none; 
  text-align: center;
}